{:paths ["src" "resources" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        aleph/aleph {:mvn/version "0.4.7-alpha10"}
        gloss/gloss {:mvn/version "0.2.6"}
        manifold/manifold {:mvn/version "0.2.3"}
        }
 :aliases {
           :uberdeps {
                      :replace-deps {uberdeps/uberdeps {:mvn/version "1.1.4"}}
                      :replace-paths []
                      :main-opts ["-m" "uberdeps.uberjar"]
                      }
           }
 }
